<p class="wiki-popup-title" style="display:none;"><%= l(:label_history) %> <%= @diff.content_from.version %> - <%= @diff.content_to.version %></p>
<div style="margin-top: 1em;margin-bottom: 1em;">
<%= l(:label_version) %> <%= link_to @diff.content_from.version, :controller => "wiki", :action => 'show', :id => @page.title, :project_id => @page.project, :version => @diff.content_from.version %>
<em>(<%= @diff.content_from.author ?
             @diff.content_from.author.name : l(:label_user_anonymous)
      %>, <%= format_time(@diff.content_from.updated_on) %>)</em>
&#8594;
<%= l(:label_version) %> <%= link_to @diff.content_to.version, :controller => "wiki", :action => 'show',
                             :id => @page.title, :project_id => @page.project,
                             :version => @diff.content_to.version
                          %>/<%= @page.content.version %>
<em>(<%= @diff.content_to.author ?
             link_to_user(@diff.content_to.author.name) : l(:label_user_anonymous)
      %>, <%= format_time(@diff.content_to.updated_on) %>)</em>
  <div style="float:right;">
    <span class="diff_in"><%= l(:diff_popup_legend_add) %></span>&nbsp;<span class="diff_out"><%= l(:diff_popup_legend_remove) %></span>
  </div>
</div>
<div>
  <!-- change start,tplink,guishaoli -->
  <!--添加 “变更前” “变更后”描述栏 -->
<span style="width: 50%;display: inline-block;;text-align: center;"> <%= l(:before_change) %>  </span>
<span style="width: 50%;float: right;text-align: center;"> <%= l(:after_change)  %>  </span>
</div>
<div class="text-diff" style="height: -webkit-fill-available;">
  <!-- 注释原生的diff内容 -->
<% simple_format_without_paragraph @diff.to_html %>
    <div id="left"  style="width: 48%;
            position: absolute;
            overflow-x: scroll;
            ">

    <%=  @left %>
    </div>
    <div id="right" style="width: 48%;
            position: absolute;
            left: 52%;
            overflow-x: scroll;
            ">
    <%= @right  %>
    </div>

</div>

<script type="text/javascript">
// 对特殊字符转义，让浏览器解析html标签
function unescapeHTML(sqlstring){
    sqlstring = "" + sqlstring;
    return sqlstring.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&amp;/g, "&").replace(/&quot;/g, '"').replace(/&apos;/g, "'");
}
var rdata =$("#right").html()

$("#right").html(unescapeHTML(rdata))

var ldata = $("#left").html()

$("#left").html(unescapeHTML(ldata))

</script>
<style type="text/css">
/* 自定义变更内容样式 */
.diff_in{
 background: #cfc;
    border: solid;
    border-color: #cfc;
}
.diff_out{
     background: #fcc;
    border: solid;
    border-color: #fcc;
}
</style>
<!-- change end -->
